*.env
*.db
*$py.class
build/
.cache/
core
dist/
*.egg-info/
*.log
__pycache__/
*.py[cod]
.pytest_cache/
*.sample
sdist/
*.sqlite
*.sw[pon]
venv/
.vscode/
*.dump
log
*.log
.vscode
notebook/dataset
.bash_history
.cache/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local
creds
dataset.tar.gz
*.h5
notebook/logs/
notebook/report/
*.csv
*.dll
*.exe
notebook/.config/
.python_history
config
backup
notebook/api.yaml
notebook/supervisord.pid
notebook/h2oflows
notebook/models/
notebook/.wget-hsts
!docker/redisai/opt/build/
